.text-box{
    width: 100%;
    position: relative;

}
.text-box textarea {
    position: relative;
    width: 91%;
    height: 25px;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    resize: none;
    border-radius: 12px;
    margin-left: 16px;
    outline: 0;
}
 .text-comments {
    position: absolute;
    margin-left: -36px;
    margin-top: 3px;
    background: none;
    border: none;
    font-size: 19px;
    color: lime;
}
