.timeline-body .video-container{
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.timeline-body .video-container .video{
    height: 105%;
    width: 100%;
}
.controls{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    transform:  translateY(100%) translateY(-2px);
    transition: all 0.2s;
    z-index: 4;
}
.controls .bar{
    width: 100%;
    background-color: black;
}
.controls .bar .current{
    height: 3px;
    width: 0;
    background-color: orangered;
}
.controls .buttons{
    padding: 10px;
}
.controls .buttons  .play{
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff;
}
.timeline-body .video-container .circle-play{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    transition: all .2s;
}
.timeline-body .video-container .circle-play .center-play{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #fff;
}
.timeline-body .video-container .circle-play .center-play .play-icon{
    color:#fff
}
.timeline-body .video-container .circle-play .center-play:hover,
.timeline-body .video-container .circle-play .center-play .play-icon:hover{
    border-color: #ccc;
}
.timeline-body .video-container:hover  .circle-play{
    visibility: visible;
}
.timeline-body .video-container:hover .controls{
    transform: translateY(0);
}
.timeline-body .video-container .controls .controls-bottom{
    display: flex;
}
.timeline-body .video-container .controls .duration span{
    color:#fff;
    font-size: 10px;
}
.timeline-body .video-container + p{
    color:red
}




@media (max-width:767px){
    .timeline-body .video-container .video{
        width: 154%;
    }
    .timeline-body .video-container .circle-play .center-play{
        cursor: default;
    }
}
