
.previewchat{
	width: 111%;
    overflow: hidden;
    /* background: #ffffff; */
	border-bottom: 2px solid #dadada;
	margin-left: -13px;

}
.previewchat .previews-inners{
	width: 100%;
	height: 100%;
	/*margin: 2.5% 0;*/
}
.previewchat .previews-inners .carousels{
	height: 52px;
	display: flex;
	overflow-x: scroll;
	padding: 30px 0 10px 0;
}
.previewchat .previews-inners .carousels::-webkit-scrollbar{
	width:0;
}
 .previews-inners .carousels .items{
	width: 42px;
    height: 13px;
    margin: 0 12px;
    /* border-radius: 30px; */
    position: relative;
    /* margin-top: 0px; */
}
.previewchat .previews-inners .carousels .items::after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
.previewchat .previews-inners .carousels .items h4{
	position: absolute;
    bottom: -34px;
    /* left: 20px; */
    /* font-size: 1.9rem; */
    /* color: #ffffff; */
    /* z-index: 2; */
    font-size: 14px;
    margin-left: 1px;
}
.previewchat .previews-inners .carousels .items img{
	height: 50px;
	width: 50px;
	border-radius: 30px;
	margin-top: -52px;

}
.active-user> img{
	width: 51px;
    height: 51px;
    border-radius: 33px;
    margin-top: 2px;
	margin-left: 14px;

}
.active-user{
	display: flex;
}
.active-user p {
	margin-left: 75px;
    position: absolute;
    margin-top: 12px;
}
.active-user h4{
	position: absolute;
    margin-left: 265px;
    margin-top: 12px;
}
.chat-history{
	border-bottom: 1px solid #dadada;
	margin-left: -9px;
	margin-right: -11px;
	padding: 9px;

}
.previewss button{
	margin-left: 103px;

}
.chat-time{
	text-align: center;
    margin-top: 12px;
}
.send-messages{
	position: absolute;
    right: 12px;
    background: antiquewhite;
    padding: 7px;
    border-radius: 12px;
    margin-top: 12px;
}
.recieveimage> img{
	width: 51px;
    height: 51px;
    border-radius: 33px;
    margin-top: 59px;
    position: absolute;
}
.recieve-message{
	position: absolute;
    margin-top: 68px;
    left: 74px;
    background: blue;
    padding: 9px;
    border-radius: 20px;
}
.draw-line{
	border-bottom: 1px solid #dadada;
    margin-left: -13px;
    margin-top: 142px;
	width: 363px;
	position: absolute;
}
.box-mess textarea{
	position: absolute;
    margin-top: 7px;
    margin-left: 29px;
    width: 269px;
    height: 31px;
    border-radius: 12px;
    outline: 0;
}
.box-mess button{
	position: absolute;
    right: 12px;
    margin-top: 12px;
}




