
.preview-chat {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #dadada;


}
.preview-chat .preview-images {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

}
.preview-chat .users p{
    bottom: 12px;
}
.single-preview{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.online {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-bottom:1px solid #dadada;
    padding-bottom: 12px;




}
.online-image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.online li{
    position: absolute;
    left: 12px;
}
.online span{
    position: relative;
    left: 12px;
}
.online p{
    right: 23px;
    position: absolute;

}
.preview-message {
    text-align: center;
    border-bottom:1px solid #dadada;

}
.chat{
    position: relative;
}
.date-center {
    margin-top: 1rem;
    text-align: center;
}
.owner-chat {
    position: absolute;
    right: 1rem;
    top: 2rem;
    padding: 0.5rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.609);
}
.chat-images{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.reciever-chat{
    display: flex;
    align-items: center;
    position: absolute;
    top: 6rem;
}
.reciever-chat p{
    margin-left: 5rem;
    padding: 0.5rem;
    box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.609);
    border-radius: 3rem;
}
.chat-history{
    text-align: center;
}
