*{
	margin: 0;
	padding: 0;
}
body{
	background: white;
	font-size: 1.14rem;

}
.friends> p{
	text-align: center;
	border-bottom:4px solid #dadada;

}
.friend > img{
	height: 110px;
	width: 110px; 
	margin: 14px;
	cursor: pointer;

}

.friend{
	display: flex;
	align-items: center;
	border-bottom:1px solid #dadada;
	font-size:200%;
	margin: 0 auto;
}





















  




































































































































