.fr{
	width: 70%;
	height: 500px;
	background: white;
	border-radius: 40px;
	margin: 0 auto;
}
.fr p{
	text-align: center;
	


}
.name{
	
}
h6{
     
}
.name h2 span{
	position: absolute;
	right: 2px;
}
h3{

}
h4{
	
}
h5{
	
}
 .name h2{
	     /* margin: 12px 0; */
		 padding: 5px;
		 /* text-align: left; */
		 font-size: 17px;
		 margin-left: -21px;
 }
.img >img,
.img1 > img{
	width: 90px;
	height: 90px;
	border-radius: 60%;
	cursor: pointer;
}
 
.img{
	position: relative;
	text-align: center;
	height: 90px;
	width: 90px;
	border-radius: 60%;
	cursor: pointer;

}
.img1 {
	display: grid;
	grid-auto-flow: column;
	/*grid-column-gap: 16px;*/
	grid-auto-columns: 1fr 11fr;
	align-items: center;
	margin-top: 15px;

}
.img1 img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.button button{
	margin-top: 12px;
}

.button button:first-child{
	position: relative;
	background: blue;
	cursor: pointer;
	outline: 0;
	font-size: 30px;
	margin-left: 12px;



}
.button button:last-child{
	position: absolute;
	cursor: pointer;
	outline: 0;
	font-size: 20px;
	padding-right: 20px;
	/*padding-left: 20px;*/
	margin-left: 24px;

}
.img2 {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr 11fr;
	align-items: center;
}
.img2 img {
	width: 20px; 
	height: 20px;
	border-radius: 50%;
}
.button1 button:first-child{
	position: relative;
	background: blue;
	cursor: pointer;
	outline: 0;
	font-size: 30px;

	
}
.button1 button:last-child{
	position: absolute;
	cursor: pointer;		
	outline: 0;
	font-size: 30px;
	/*padding-right: 20px;
	padding-left: 20px;*/
	margin-left: 24px;
}

















