*{
	margin: 0;
	padding: 0;
}
body{
	background: white;
	font-size: 1.14rem;

}
.friends> p{
	text-align: center;
	border-bottom:2px solid #dadada;
	

}
.friend > img{
	height: 41px;
	width: 41px; 
	margin: 10px;
	cursor: pointer;

}

.friend{
	display: flex;
	align-items: center;
	border-bottom:1px solid #dadada;
	font-size:14px;
	margin: 0 auto;
	position: relative;
}
.friend .online{
	position: absolute;
	right: 12px;
	text-align: center;
}





















  




































































































































