.placemem {
	/*margin: 0;*/
	/*padding: 0;*/


}

.button-container-div{
	text-align: center;

}
.button-container-div button{
	font-size: 20px;
	cursor: pointer;

}


label{
	top: 45px;
	display: block;
	text-align: center;
		
}
.placement label{
	margin: 10px;
	
}
input{
	width: 100%;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1px 0;
	border: none;
	border-bottom: 1px solid #000;	
	outline: 0;
	
}
.placement textarea{
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #f9f9f9;
	
	

}
