.img1{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr 11fr ;

}
.img1 img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 10px; 
}
.img1> div > div{
	margin-top: -40px;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 4fr 2fr ;
	width: 20%;
	align-items: center;
}
.img1 > div > div h4{
line-height: 1px;

}
.img1 div img{
	width: 20px;
	height: 20px;
	border-radius: 50%;


}
img{
	width: 340px;
	height: 340px;
	border-radius: 10px;
}