.notification-alert> img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-top: 7px;

}
.notification-alert {
	display: flex;
	border-bottom: 1px solid #dadada;
	height: 90px;

	
}
.notify h5 {
	margin-left: 12px;
	position: absolute;
	margin-top: 4px;

}
.notify span {
	position: relative;
    margin-left: 109px;
    
}
.notify p {
	margin-left: 12px;
}
.notify-date p{
	position: absolute;
	margin-top: 3px;
	right: 12px;

}
.notify-date {
	align-content: center;
    justify-content: center;
	display: flex;
	margin-top: 7px;

	
}
