* {
	padding: 0;
}
h2, p {
  margin: 10px;
}
.container {
	display: flex;
    border-bottom: 1px solid #dadada;
    position: relative;
    text-align: center;
    padding: 20px 0;
}
.image-boxs {
	width: 40px;
	height: 40px;
	border-radius: 30px;
    margin-right: 16px;
}
.comment-name{
}
h2{
	font-size: 13px;
}
.date {
	position: absolute;
	bottom: 10px;
	font-size: 0.9rem;
	right: 10px;
}