
.report-issue{
    text-align: center;
    margin-top: 12px;
}
.report-descrpt textarea {
    margin-top: 61px;
    margin-left: 12px;
    outline: 0;
    height: 74px;
}
.report-descrpt p{
    position: absolute;
    margin-left: 12px;
    margin-top: 32px;
    font-size: 13px;
    
}
.report-send button{
    width: 100%;
    padding: 8px 0;
    color: #fff;
    background: rgba(50, 9, 163, 0.486);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    margin-top: 12px;
}
