
.spring-search i{
    position: absolute;
    margin-left: 6px;
}
.spring-search textarea{
    border-radius: 21px;
    width: 233px;
    margin-left: 58px;
    padding: 5px 9px;
    outline: none;
    height: 20px;

}

