.search-userss{
    width: 100%;
    position: relative;

}
.search-userss input{
    position: absolute;
    width: 316px;
    height: 40px;
    margin-left: 8px;
    border-radius: 20px;
    outline: 0;
}
.search-userss p{
    position: relative;
    margin-left: 41px;
    bottom: -7px;
}

