.text-box{
    width: 100%;
    position: relative;
    margin-top: 214px;
}
.text-boxx {
    display: flex;
}
.text-boxx>img{
    width: 40px;
    height: 40px;
    border-radius: 20px;

}
.text-boxx button{
    position: absolute;
    margin-left: 274px;
    margin-top: 17px;
    outline: none;
    background: none;
    border: none;
    font-size: 15px;
    color: darkturquoise;
}
.text-box textarea {
    position: relative;
    width: 79%;
    height: 45px;
    padding: 13px 16px;
    box-sizing: border-box;
    border: 1px solid black;
    resize: none;
    border-radius: 21px;
    margin-left: 16px;
    outline: 0;
}

